:root {
  --task-size: 2vw;
  --number-size: 2.5vw;
  --task-done-color: #d8f2ea;
  --task-active-color: #fcbcbc;
  --task-change-status-transition: all 1s ease;
  --task-bottom-margin: 10px;
}

.task {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 4px;
  overflow: visible;
  list-style: none;
  font-family: sans-serif;

  &:not(:last-child) {
    margin-bottom: var(--task-bottom-margin);
  }

  &__text {
    margin-right: auto;
    text-align: left;
    overflow-wrap: anywhere;
    font-size: var(--task-size);
  }

  &__number {
    margin-right: 10px;
    font-size: var(--number-size);
    color: white;
  }

  &__done,
  &__active {
    transition: var(--task-change-status-transition);
  }

  &__done {
    text-decoration: line-through;
    color: var(--task-done-color);
  }

  &__active {
    color: var(--task-active-color);
  }

  &__buttons {
    position: absolute;
    display: inline-block;
    top: 50%;
    right: -90px;
    transform: translateY(-50%);
  }

  &__delete-button,
  &__change-status {
    cursor: pointer;
    border: 0;
    background: none;
  }

  &__delete-button {
    min-width: 30px;
    margin-right: 15px;
  }

  &__change-status {
    min-width: 30px;
  }
}
