:root {
  --task-size: 2vw;
  --number-size: 2.5vw;
  --task-done-color: #d8f2ea;
  --task-active-color: #fcbcbc;
  --task-change-status-transition: all 1s ease;
  --task-bottom-margin: 10px;
}

.task {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding: 4px;
  overflow: hidden;
  list-style: none;
  font-family: sans-serif;

  &:not(:last-child) {
    margin-bottom: var(--task-bottom-margin);
  }

  &__text {
    margin-right: auto;
    text-align: left;
    font-size: var(--task-size);
  }

  &__number {
    margin-right: 10px;
    font-size: var(--number-size);
    color: white;
  }

  &__done,
  &__active {
    transition: var(--task-change-status-transition);
  }

  &__done {
    text-decoration: line-through;
    color: var(--task-done-color);
  }

  &__active {
    color: var(--task-active-color)
  }

  &__buttons {
    display: flex;
    justify-content: center;
  }

  &__delete-button {
    min-width: 130px;
    margin-right: 15px;
  }

  &__change-status {
    min-width: 130px;
  }
}