$task-size: 2vw;
$number-size: 2.5vw;

.task {
  display: flex;
  flex-direction: column;
  padding: 4px;
  overflow: hidden;
  list-style: none;
  font-family: sans-serif;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &__text {
    font-size: $task-size;
  }

  &__number {
    margin-right: 10px;
    font-size: $number-size;
    color: white;
  }

  &__done,
  &__active {
    transition: all 1s ease;
  }

  &__done {
    text-decoration: line-through;
    color: #d8f2ea;
  }

  &__active {
    color: #fcbcbc;
  }

  &__buttons {
    display: flex;
    justify-content: center;
  }

  &__delete-button {
    min-width: 130px;
    margin-right: 15px;
  }

  &__change-status {
    min-width: 130px;
  }
}