:root {
  --form-padding: 25px;
  --form-input-margin: 15px
}



.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: var(--form-padding);
  padding-bottom: var(--form-padding);

  &__input {
    margin-bottom: var(--form-input-margin);
  }
}
