:root {
  --timer-font-size: calc(1vw * 2.5);
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__output {
    font-size: var(--timer-font-size);
    color: var(--color-gray);
  }
}
