:root {
  --padding-header: 15px;
  --color-header-background: rgb(111 111 111 / 0.75);
}

.header {
  padding-top: var(--padding-header);
  padding-bottom: var(--padding-header);
  background-color: var(--color-header-background);

  &__title {
    text-align: center;
  }

  &__navigation-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__navigation-item {
    list-style: none;
  }

  &__link {
    display: block;
    padding: 10px;
    border: 2px solid var(--color-gray);
  }
}
